.title {
    border-color: black;
    background-color: rgb(252, 174, 204);
    font-family: Courier;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    width: 600px;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title:hover {
    background-color: rgb(253, 150, 189);
    box-shadow: 10px 10px 5px rgba(131, 99, 111, 0.534);
}

#Pinky_Lamb_img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
}

#Pinky_Lamb_img:hover {
    animation-name: rotate_lamb;
    animation-duration: 2s;
}

@keyframes rotate_lamb {
    100% {
        transform: rotate(360deg)
    }
}

body {
    background-image: url("images/graph-paper(1).png");
    background-color: rgb(252, 229, 232);
    font-family: Courier;
}

.other {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Game_Img {
    position: relative;
    width: 600px;
    left: 0;
    top: 500;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Game_Img:hover {
    box-shadow: 10px 10px 5px rgba(131, 99, 111, 0.534);
}


/*Navigation Bar*/

.navbar {
    background-color: rgb(252, 174, 204);
    border-color: black;
    border-style: solid;
    border-width: 3px;
    z-index: 1;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px rgba(131, 99, 111, 0.534);
    top: 0;
    width: 50%;
}

#head {
    font-family: 'Lacquer';
    color: rgb(253, 247, 250);
    font-size: 40px;
    text-align: center;
}

.dropdown {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 230, 239);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-content a:hover {
    background-color: rgb(245, 99, 160);
}

.dropdown:hover .dropdown-content {
    display: block;
}