body {
    background-color: rgb(252, 229, 232);
  }

  canvas {
    display: block;
    margin: 0 auto;

  }

  button{
    display: block;
    position: absolute;
    width: 200px;
    font-family: Courier;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    background-color: #fdbadc; 
    box-shadow: 10px 10px grey;
  }
  
  .btn{
    display: block;
  }

  button:hover {
    background-color: #fa3681; 
  }

  #Single_Player{
    left: 450px;
    top: 350px;
  }

  #Two_Player{
    left: 450px;
    top: 400px;
  }
  #vs_Computer{
    left: 450px;
    top: 450px;
  }

  #intro {
    position: absolute;
    left: 400px;
    top: 100px;
    width: 500px;
    font-family: Courier;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    background-color: aquamarine;
    box-shadow: 10px 10px grey;
  }
