html, body {
    overflow-y: hidden;
    position: relative;
}

body {
    background-color: rgb(252, 229, 232);
}

canvas {
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    position: absolute;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 30%;
    z-index: 1;
    width: 200px;
    font-family: Courier;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    background-color: #fdbadc;
    box-shadow: 10px 10px grey;
}

button:hover {
    background-color: #fa3681;
}

#Two_Player {
    top: 8%;
}

#vs_Computer {
    top: 15%;
}

#intro {
    position: absolute;
    left: 30%;
    top: 10%;
    width: 40%;
    font-family: Courier;
    font-weight: bold;
    font-size: 130%;
    border-style: solid;
    border-width: 2px;
    background-color: aquamarine;
    box-shadow: 10px 10px grey;
}
